#exit {
    top: 10px;
    right: 10px;
    position: absolute;
}

#info {
    top: 10px;
    left: 10px;
    position: absolute;
    color: white;
}

#climate {
    bottom: 10px;
    left: 10px;
    position: absolute;
    color: white;
    width: 300px;
}
