<div id="views">
    <button mat-raised-button (click)="setActiveViewName('system')" [disabled]="getActiveViewName() === 'system'">System</button>
    <button mat-raised-button (click)="setActiveViewName('galaxy')" [disabled]="getActiveViewName() === 'galaxy'">Galaxy</button>
</div>

<div id="info" *ngIf="mainInterfaceState.info">
    {{mainInterfaceState.info.name}}
</div>

<div id="climate" *ngIf="mainInterfaceState.climate">
    <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <span>Gravity</span>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-slider
                [value]="mainInterfaceState.climate.gravity"
                [disabled]="false"
                [invert]="false"
                [max]="100"
                [min]="0"
                [step]="1"
                [thumb-label]="false"
                [tick-interval]="null"
                [vertical]="false">
            </mat-slider>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <span>Temperature</span>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-slider
                [value]="mainInterfaceState.climate.temperature"
                [disabled]="false"
                [invert]="false"
                [max]="100"
                [min]="0"
                [step]="1"
                [thumb-label]="false"
                [tick-interval]="null"
                [vertical]="false">
            </mat-slider>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <span>Radiation</span>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-slider
                [value]="mainInterfaceState.climate.radiation"
                [disabled]="false"
                [invert]="false"
                [max]="100"
                [min]="0"
                [step]="1"
                [thumb-label]="false"
                [tick-interval]="null"
                [vertical]="false">
            </mat-slider>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div id="system_stats" *ngIf="mainInterfaceState.system_stats">
    <span>Planets: {{mainInterfaceState.system_stats.num_planets}}</span>
    <span>Moons: {{mainInterfaceState.system_stats.num_moons}}</span>
</div>

<app-context-menu></app-context-menu>
